<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All people</title>
</head>
<body>
<a href="/people/new">Create new</a>
<br>
<br>
<div th:each="person : ${people}">
  <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
  <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getAge()}">user</a>
  <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getEmail()}">user</a>
</div>
</body>
</html>