<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All books</title>
</head>
<body>
<a href="/books/new">Create new</a>
<br>
<br>
<div th:each="book : ${books}">
  <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}">Title</a>
  <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getAuthor()}">Author</a>
  <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getYear()}">Year</a>
</div>

<a href="/people">
  <button>All People</button>
</a>
<a href="/books">
  <button>All Books</button>
</a>
</body>
</html>